#container {
  overflow: hidden;
  height: 100%;
}

.stat-dropdown {
  display: none;
  opacity: 1;
  position: relative;
  z-index: 9999;
}

.stat-content {
  z-index: 9999;
  margin: 0 auto;
  width: 200px;
  height: 140px;
  background: rgb(0, 109, 189);
  border-radius: 10px;
}

.arrow-up {
	width: 0;
	height: 0;
  margin: 0 auto;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;

	border-bottom: 12px solid rgb(66, 164, 255);
}

.stat-level {
  text-align: center;
  font-size: 18px;
  background: rgb(66, 164, 255);
  border-bottom: 1px solid rgb(80, 204, 250);
  color: white;
}

.stat-box {
  margin-top: 10px;
  position: relative;
  color: rgb(196, 196, 196);
  padding-left: 10px;
}

.accent {
  color: white;
}

.stat-wlr, .stat-kdr {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 8px;
}

/******/

.chat-box {
  margin-top: 40px;
  width: 100%;
  height: 260px;
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.12));
}

#chat-filter {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  /*z-index: 99;*/
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.chat-box-send {
  position: absolute;
  width: 95.6%;
  height: 50px;
}
#chat { 
  position: absolute;
  width: 100%;
  /*height: 260px;*/
  max-height: 260px;
  bottom: 0;
  z-index: -122;
  overflow-y: scroll;
  /*-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%,rgba(0,0,0,1)), color-stop(99%,rgba(0,0,0,0)));*/
}

.stat-dropdown{
    position: relative;
}

.message {
  color: white;
  z-index: 1;
  margin-bottom: 5px;
  position: relative;
}
.message-wrap {
  width: 90%;
}
.chat-text {
  width: 200px;
}
.chat-username {
  color: rgb(80, 204, 250);
  margin-left: 5px;
  margin-right: 5px;
}
.chat-date {
  margin-right: 5px;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(200, 200, 200);
}

.chat-avatar {
  border: 1px solid black;
}
.centered {
  margin: 0 auto;
  float: none;
}
.upper-content {
  margin-top: 5%;
  padding: 0;
  position: relative;
  /*top: 20%;*/
}

.upper-content h1{
  text-align: center;
}
.helper {
    
}

#party {
  background: rgba(255, 255, 255, 0.15);
  height: 150px;
  position: relative;
  z-index: 1000;
}

#party-wrap {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slot {
  display: none;
  height: 100%;
  float: left;
  position: relative;
  border-left: 1px solid rgba(212, 212, 212, 0.33);
  /*z-index: 10;*/
}

.slot:last-child {
  border-right: 1px solid rgba(212, 212, 212, 0.33);
}
#self {
  color: rgb(173, 247, 132);
}

#user-self .slot-username {
  color: rgb(173, 247, 132);
}

#user-self .slot-avatar {
  border: 2px solid rgb(173, 247, 132);
}

.slot-username {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  color: white;
  margin-bottom: 2px;
}

.slot-avatar {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
}

#newsearch {
  margin-top: 80px;
}
.helper {
}
/********/

.mid {
  padding-top: 220px;
}

.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.slider {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
html,body {
    height: 100%;
    font-family: 'Pontano Sans', sans-serif;
    overflow-x: scroll;
}

h1,p {
  text-shadow: 1px 1px 5px #000;
  color: white;
}
h1 {
  position: relative;
}
.site-state {
  font-size: 12px;
  color: rgb(214, 214, 214);
  position: absolute;
  top: 5px;
  padding-left: 3px;
}

.option {
  padding-right: 6px;
  padding-left: 6px;
}

.background {
  z-index: -1;
  height: 100%;
  /*-webkit-filter: blur(3px);*/
  /*-moz-filter: blur(3px);*/
  /*-o-filter: blur(3px);*/
  /*-ms-filter: blur(3px);*/
  /*filter: blur(3px);*/
}

.layer {
    background-color: rgba(103, 103, 103, 0.48);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************ PARTY PAGE *************/
/*
.slot {
  border-radius: 20px;
  height: 200px;
  width: 100%;
  background: rgb(42, 103, 142);
  box-shadow: 1px 1px 10px black;
  margin-bottom: 20px;
}

#self .slot-header {
  background: rgb(74, 200, 121);
  border-bottom: 1px solid rgb(173, 247, 132)
}

#self {
  background: rgb(62, 139, 102);
}

.slot-header {
  background: rgb(45, 147, 213);
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(44, 177, 252);
}

.slot-avatar {
  border: 3px solid black;
  margin-left: 13px;
}

.helper, .slot-username, .slot-level {
  line-height: 70px;
}
.slot-level {
  vertical-align: middle;
  padding-left: 3px;
  font-size: 12px;
  text-shadow: 1px 1px 0px black;
}
.slot-username {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-left: 12px;
  font-size: 22px;
  vertical-align: middle;
}

.slot-stat-box {
  margin-top: 7px;
  position: relative;
  color: rgb(196, 196, 196);
  padding-left: 10px;
}

.accent {
  color: white;
}

.slot-stat-wlr, .slot-stat-kdr {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 8px;
}*/
