<div class='upper-content'>
  <h1>
    Your Party
  </h1>
</div>
<div id='party'>
    <div id='party-wrap'>
      {{partySize}}
    </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-6 centered'>
      <div class='chat-box'>
        <div id='chat'>
        </div>
        <div id='chat-filter'></div>
      </div>
      <div class='chat-box-send'>
        <div class='input-group'>
          <input type='text' class='form-control' id='messageText' maxlength='120'>
          <div class='input-group-btn'>
            <button type='button' class='btn btn-primary' id="sendMessage"> <span class='option'>Send</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2 col-md-offset-5'>
        <button class='btn btn-warning btn-lg' id='newsearch'>
          <i class="fa fa-search"></i> Search Again
        </button></a>
    </div>
  </div>
</div>
