<div class='player' id='{{who}}'>
  <div class='slot-username'>
    {{userName}}
  </div>
  <!---<span class='helper'>-->
    <img src='{{avatar}}' class='img-circle slot-avatar'>
  <!--</span>-->
  <div class='stat-dropdown overlay'>
    <div class="arrow-up"></div>
    <div class='stat-content'>
      <div class='stat-level'>
        Level: {{level}}
      </div>
      <div class='stat-box'>
        <div class='stat-wins'>
          Wins: <span class='accent'>{{wins}}</span>
        </div>
        <div class='stat-loses'>
          Loses: <span class='accent'>{{loses}}</span>
        </div>
        <div class='stat-wlr'>
          W/L: <span class='accent'>{{wlr}}</span>
        </div>
      </div>
      <div class='stat-box'>
        <div class='stat-kills'>
          Kills: <span class='accent'>{{kills}}</span>
        </div>
        <div class='stat-loses'>
          Deaths: <span class='accent'>{{deaths}}</span>
        </div>
        <div class='stat-kdr'>
          KDR: <span class='accent'>{{kdr}}</span>
        </div>
      </div>
    </div>
  </div>
</div>